@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap');

html{
    display: block;
}
*{
    box-sizing: border-box;
}
:root {
    --primary-color: #2422b6;
    --off-white: #F3F4F6;
    --sky-blue:   #77b0f1b0;
}
body{
    font-family: 'Kaisei Tokumin', serif;
}
hr{
    color: var(--primary-color);
    border: 1px solid;
}
.head{
    text-align: center;
    text-decoration:underline;
    color: var(--primary-color);
    background-color: var(--sky-blue);
}
.head-img{
    margin:auto;
    width: 290px;
    height: 95px;
}
section{
    display: block;
    background-color: var(--off-white);
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}
textarea{
    display: block;
    margin: auto;
    width: 450px;
    height: 150px;
    border: var(--primary-color);
    border-style: solid;
    text-align: center;
    padding: 1rem 2rem;
}
#btn{
    border-style: solid;
    border: 3px solid;
    display: block;
    margin: auto;
    color: var(--primary-color);
    font-weight: bolder;
    width: 200px;
    height: 40px;
    background-color: var(--sky-blue);
}
div{
    display: block;
    margin: auto;
    color: #2422b6;
    text-align: center;
    display: block;
    margin: auto;
   
    text-align: center;
    border: var(--primary-color);
    border-style: solid;
    width: 484px;
    height: 162px;
}

#output{
    background-color: white;
   
    
        height: 150px;
        width: 500px;
        display: block;
        margin: auto;
        border: var(--primary-color);
        border-width: 3px;
        border-style: solid;
        padding: 1rem 1rem
}
footer{
    background-color: var(--sky-blue);
    color: var(--primary-color);
    text-align: center;
    display: block;
}