@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&display=swap');

html{
    display: block;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Kaisei Tokumin', serif;
}
.head{
    text-align: center;
    text-decoration:underline;
}
.head-img{
    margin:auto;
    width: 280px;
    height: 80px
}